django==1.11.24
djangorestframework==3.10.3
django-filter==2.2.0
drf-yasg==1.16.1
packaging==19.2 # required by api doc generation
psycopg2==2.6.2
requests==2.22.0
requests-mock==1.7.0

# test
flake8==3.7.8

# dev
black==19.3b0
pip-check==2.5.2
